# Ignore everything by default
*

# Track directories (so Git can check them)
!*/

# Track Stata files
!*.ado
	# !*.dta # <-- ignore this
!*.do
!*.scheme
!*.smcl
!*.sthlp
!*.stpr
!*.stsem
!*.sttcl

# Track R files
!*.R
!*.r
!*.RData
!*.rds
!*.rda
!*.Rproj
!*.Rmd
!*.Rnw

# Ignore the "To File" folder
/To file/

# Unignore .gitignore itself
!.gitignore